<div class="s-upload">
  <input class="upload" type="file" #fileName>
  <button class="add-button" (click)="add(fileName.value); fileName.value=''">
    上传
  </button>
</div>

<!-- <ul class="files">
  <li *ngFor="let file of files,let i=index">
    <span class="badge">{{file.id}}、</span> 
      {{file.name}}
    <app-change (cgEvent)="doChange($event,i)"></app-change>
    <button class="delete"  (click)="delete(file)">删除</button>
  </li>
</ul> -->

<table border="1" class="gridtable">
  <tbody>
      <tr>
          <td>序号</td> 
          <td>文件名</td>
          <td colspan="2">操作</td>
      </tr>
      <tr *ngFor="let item of files,let i=index">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>
              <app-change (cgEvent)="doChange($event,i)"></app-change> 
          </td>
          <td>
            <button  title="delete file" (click)="delete(file,i)">删除</button>
            <!-- <button (click)="doDelete(i)">删除</button> -->
          </td>
      </tr>
  </tbody>
</table>