/* HeroesComponent's private CSS styles */
.files {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.upload{
  display: inline-block;
}
.gridtable{
  width: 100%;
}
.s-upload{
  margin: 10px;
}